body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.container {
  width: 450px;
  background: #ffffff;
  color: #111;

  padding: 25px;
  border-radius: 12px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;

  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;

  background: #7c3aed;
  color: white;

  cursor: pointer;
  margin: 5px 0;
}

button:hover {
  opacity: 0.85;
}

/* 🔥 ABAS */
.tabs {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.tabs button {
  flex: 1;
  margin: 3px;
  background: #1e293b;
}

/* 🧾 CARDS */
li {
  list-style: none;
  background: #f8fafc;

  margin-top: 10px;
  padding: 12px;

  border-left: 6px solid #7c3aed;
  border-radius: 10px;
}

/* botão fechar */
.closeBtn {
  background: black;
  color: white;

  margin-top: 8px;
  padding: 5px 8px;

  border-radius: 6px;
}

/* status */
.aberto {
  color: green;
  font-weight: bold;
}

.fechado {
  color: red;
  font-weight: bold;
}
